/backend/.env
__pycache__/stt.cpython-310.pyc
__pycache__/stt.cpython-310.pyc
__pycache__/tts.cpython-310.pyc
prompt/__pycache__/motion_prompt.cpython-310.pyc
prompt/__pycache__/prompt.cpython-310.pyc
prompt/__pycache__/motion_prompt.cpython-310.pyc
/__pycache__
/app/__pycache__
/app/prompt/__pycache__
/app/utils/__pycache__
installed.txt
/backend/memory/session_storage
/backend/__pycache__
/backend/app/__pycache__
/backend/app/prompt/__pycache__
/backend/app/prompt/multi_language/__pycache__
/backend/app/utils/__pycache__
/backend/app/utils/llm/__pycache__
/backend/memory/__pycache__
/backend/retriever/__pycache__
/backend/app/ffmpeg/
/.idea