fastapi
uvicorn
python-socketio
python-dotenv
python-multipart
ffmpeg

# PDF handling
PyMuPDF
pypdf
pdfminer.six

# LLM + Embedding
openai
google-genai
scikit-learn
sentence-transformers
torch
tqdm
langdetect
tiktoken

# TTS / STT
speechrecognition
pydub
edge-tts