html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  #model-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: transparent;
  }
  
  #live2d {
    width: 100%;
    display: block;
  }
  